# **Relatório Projeto Individual - Modulo 4**

#### Este relatório tem o objetivo de demonstrar a importância da análise dos dados de um projeto de desenvolvimento de software ao longo de uma semana.

In [13]:
# Importando as bibliotecas
import numpy as np
import pandas as pd 
import matplotlib as plt

In [14]:
# Crianção do dataframe
tabela_geral = {
    "DIA": ["Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabádo", "Domingo"],
    "HORAS TRABALHADAS": [6, 7, 8, 6, 7, 5, 4],
    "BUGS CORRIGIDOS": [3, 2, 1, 4, 3, 2, 1],
    "TAREFAS CONCLUIDAS": [5, 4, 6, 4, 5, 3, 2]
}

df_geral = pd.DataFrame(tabela_geral)
display(df_geral)

       DIA  HORAS TRABALHADAS  BUGS CORRIGIDOS  TAREFAS CONCLUIDAS
0  Segunda                  6                3                   5
1    Terça                  7                2                   4
2   Quarta                  8                1                   6
3   Quinta                  6                4                   4
4    Sexta                  7                3                   5
5   Sabádo                  5                2                   3
6  Domingo                  4                1                   2

In [23]:
# Total de horas trabalhadas
# Média Diária de Horas Trabalhadas
print(f'O total de horas trabalhadas esta semana é de: {df_geral["HORAS TRABALHADAS"].sum()}')
print(f'A média diária de horas trabalhadas esta semana é de: {df_geral["HORAS TRABALHADAS"].mean():.2f}')

O total de horas trabalhadas esta semana é de: 43
A média diária de horas trabalhadas esta semana é de: 6.14

In [24]:
# Total de Bugs Corrigidos
# Média Diária de Bugs Corrigidos
print(f'O total de bugs corrigidos esta semana é de: {df_geral["BUGS CORRIGIDOS"].sum()}')
print(f'A média diária de bugs corrigidos esta semana é de: {df_geral["BUGS CORRIGIDOS"].mean():.2f}')

O total de bugs corrigidos esta semana é de: 16
A média diária de bugs corrigidos esta semana é de: 2.29

In [ ]:
# Total de Tarefas Concluídas
# Média Diária de Tarefas Concluídas
print(f'O total de tarefas concluídas esta semana é de: {df_geral["BUGS CORRIGIDOS"].sum()}')

---

### **Colunas extras**

Com a coluna "PRODUTIVIDADE" sendo adicionado podemos ver a real produtividade da equipe. Ela consiste na soma de "Bugs Corrigidos" e "Tarefas Concluidas" referente ao dia da semana.

In [15]:
# Adicionando colunas extras 
df_geral["PRODUTIVIDADE"] = df_geral["BUGS CORRIGIDOS"] + df_geral["TAREFAS CONCLUIDAS"]
display(df_geral)

,DIA,HORAS TRABALHADAS,BUGS CORRIGIDOS,TAREFAS CONCLUIDAS,PRODUTIVIDADE
0,Segunda,6,3,5,8
1,Terça,7,2,4,6
2,Quarta,8,1,6,7
3,Quinta,6,4,4,8
4,Sexta,7,3,5,8
5,Sabádo,5,2,3,5
6,Domingo,4,1,2,3

Com a coluna produtividade adicionada, podemos também colocar uma informação de "Metas", onde teremos uma noção se a produtividade da equipe está de acordo com as metas estabelecidas naquele dia da semana.

In [16]:
df_geral["META"] = [8, 7, 7, 8, 8, 6, 4]
display(df_geral)

,DIA,HORAS TRABALHADAS,BUGS CORRIGIDOS,TAREFAS CONCLUIDAS,PRODUTIVIDADE,META
0,Segunda,6,3,5,8,8
1,Terça,7,2,4,6,7
2,Quarta,8,1,6,7,7
3,Quinta,6,4,4,8,8
4,Sexta,7,3,5,8,8
5,Sabádo,5,2,3,5,6
6,Domingo,4,1,2,3,4

Poderíamos adicionar também uma coluna informando com "Sim" ou "Não" se houve atrasos nas entregas.

In [17]:
# Adicionando colunas extras
df_geral["ATRASO"] = ["NAO", "SIM", "NAO", "NAO", "NAO", "SIM", "SIM"]
display(df_geral)

,DIA,HORAS TRABALHADAS,BUGS CORRIGIDOS,TAREFAS CONCLUIDAS,PRODUTIVIDADE,META,ATRASO
0,Segunda,6,3,5,8,8,NAO
1,Terça,7,2,4,6,7,SIM
2,Quarta,8,1,6,7,7,NAO
3,Quinta,6,4,4,8,8,NAO
4,Sexta,7,3,5,8,8,NAO
5,Sabádo,5,2,3,5,6,SIM
6,Domingo,4,1,2,3,4,SIM